@using BlazorAnimate
@page "/"

<PageTitle>Информация</PageTitle>
<Animate Animation="Animations.SlideDown" Duration="TimeSpan.FromSeconds(0.5)">
    <h1>Описание Web-приложения</h1>

    <p>
        Данное Web-приложение предназначено для управлением сервисом по работе с дубликатами.
        Взаимодействие происходит через специализированное API в формате JSON.
        Во время работы сервиса происходит сбор обрабатываемых данных для вывода аналитики и графиков.
    </p>

    <h1>Описание сервиса</h1>
    <p>В его основе лежит Bloom filter (Фильтр Блума)</p>
    <p>Мощность фильтра зависит от количества хеш-функций и количества добаляемых элементов</p>
    <p>Поддерживаемые операции:</p>
    <ul>
        <li>Показать зарегистрированные сообщения</li>
        <li>Добавление элемента</li>
        <li>Проверка на наличие элемента</li>
        <li>Показать аналитические данные</li>
    </ul>
    <p>Поддерживаемые типы данных: Файл, Строка (Файл со строками), Массив байт</p>
</Animate>


